<!DOCTYPE html>
<html>
	<Title>Le Restaurant</Title>
    {% load static %}
    <!-- JavaScript Bundle with Popper -->


<head>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/custom.css">

{% include "navbar.html" %}	   
{% include "carousel.html" %} 
	<style>
	</style>


	</head>

	<body>
	<div>{% block content %}
	replace me
	</div>{% endblock %}
    <script type="text/javascript" src={% static 'cart.js' %}></script>
    <script type="text/javascript" src={% static 'app.js' %}></script>
	</body>

</html>