{% extends 'base.html' %}

{% block content %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cart</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Cart</h1>
    {% for item in starter %}
    <ul class="list-group">
    <li class="list-group-item">{{item.starter}} {{item.price}}</li>
    </ul>
    {% endfor %}
    <ul class="list-group">
      <li class="list-group-item">Cart Total: £{{cart_total}}</li>
      </ul>

    <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <h1>Welcome Guest</h1>
    <p>Please register or login to get started</p>
    <button type="button" class="btn btn-secondary" href="{% url 'register' %}">Register</button>
    <button type="button" class="btn btn-secondary" href="{% url 'login' %}">Login</button>
    {% endif %}
  </body>
</html>
{% endblock %}