{% extends 'base.html' %}

{% block content %}
<html>
  <head>
    <meta charset="utf-8" />
    <title>Cart</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h1>Cart</h1>
    {% for order in orders %}
    {% for item in order.order_items.all %} 
    <ul class="list-group">
    <li > {{item.menu_item}} {{item.price}}
    <a href="{% url 'delete-order' order.id item.id %}">🗑</a>
  </li>
    </ul>
    {% endfor %}
    {% endfor %}
    <ul class="list-group">
      <li class="list-group-item">Cart Total: £{{cart_total}}
      </li> 
    </ul>
    {% if cart_total == 0 %}
    <a>Please add items to your basket to get started!</a>
    {% else %}
    <a type="button" class="btn btn-secondary" href="{% url 'checkout' %}">Checkout</a>
    {% endif %}


    {% else %}
    <h1>Welcome Guest</h1>
    <p>Please register or login to get started</p>
    <a type="button" class="btn btn-secondary" href="{% url 'register' %}">Register</a>
    <a type="button" class="btn btn-secondary" href="{% url 'login' %}">Login</a>
    {% endif %}
  </body>
</html>
{% endblock %}