<ul class="nav justify-content-center">
    {% load static %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'index' %}"> <img src="{% static 'HungerPangLogo.png' %}" alt=""></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'order_starters' %}">Menu</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'cart' %}">🛒</a>
    </li>
  </ul>